@import 'themes';

$app_width: 900px;
$app_height: 3100px;
$main_color: #a74e1b;
$second_color: #7d2304;

@mixin square_size($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin cart_button_size($width) {
  height: $width * 0.4;
  width: $width;
}

@mixin button_style() {
  @include theme(color, second_color);
  @include theme(background-color, button_bg);
  border: 2px solid;
  @include theme(border-color, main_color);
  cursor: pointer;
  padding-inline: 3px;
  text-align: center;
}

@mixin price_style($font_size) {
  font-weight: bold;
  font-style: italic;
  font-size: $font_size;
  @include theme(color, main_color);
}

@mixin product_image_style($image_size) {
  @include square_size($image_size);
  border: 1px solid;
  @include theme(border-color, main_color);
  border-radius: 5px;
}

@mixin button_style_hover() {
  @include theme(background-color, button_bg_hover);
}

@mixin button_style_active() {
  @include theme(background-color, button_bg_active);
}
