@import 'src/shared/ui/variables';

@mixin default_size() {
  @include square_size(12px);
  border-radius: 2px;
}

.root {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include theme(background-color, main_bg);
  @include theme(border-color, button_close);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;

  @include default_size();

  &.small {
    @include default_size();
  }

  &.large {
    @include square_size(20px);
    border-radius: 5px;
  }

  .symbol {
    border-width: 2px;
    border-radius: 50%;
    @include theme(background-color, button_close);
    @include square_size(85%);
  }

  &:hover {
    @include theme(background-color, button_close_hover);

    .symbol {
      @include theme(background-color, main_bg);
    }
  }

  &:active {
    @include theme(background-color, button_close_active);

    .symbol {
      @include theme(background-color, main_bg);
    }
  }
}
