@import 'src/shared/ui/variables.scss';

.root {
  align-items: center;
  display: flex;

  @include cart_button_size(100px);

  &.medium {
    @include cart_button_size(80px);
    button,
    input {
      font-size: 15px;
    }
  }

  &.large {
    @include cart_button_size(100px);
    button,
    input {
      font-size: 18px;
    }
  }
}
