@import 'src/shared/ui/variables.scss';

$layout_height: 200vh;
$content_position_top: 30vh;

.root {
  margin: 0px auto;
  @include theme(background-color, layout_bg);
  height: $layout_height;
  width: $app_width;
}

.header {
  z-index: 2;
  position: relative;
}

.content {
  z-index: 1;
  padding: 10px;
  position: relative;
  top: $content_position_top;
}
