@import 'src/shared/ui/variables.scss';

$content_position_top: 250px;

.root {
  margin: 0px auto;
  @include theme(background-color, layout_bg);
  width: $app_width;
}

.header {
  z-index: 2;
  position: relative;
}

.content {
  z-index: 1;
  padding: $content_position_top 10px 10px 10px;
}
