@import 'src/shared/ui/variables';

.root {
  margin-left: 20px;
}

@mixin grid_format() {
  display: grid;
  grid-template-columns: 80px 50% 15% 10% 15%;
}

@mixin font_format($font_size) {
  font-family: sans-serif;
  font-size: $font_size;
}
