@import 'src/shared/ui/variables.scss';

.root {
  display: grid;
}

.card_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.card {
  display: inline-block;
  margin-bottom: 15px;
  width: calc($app-width / 1.5);
}
